body{
    background-color: aliceblue;
    border-color:aqua;
    border-style: solid;
    border-width: thin;
}

h1{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
}